.carousel img {
  height: 10rem;
  width: 100%;
  object-fit: cover;
}

@keyframes zoomIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.carousel {
  height: 100%;
  width: 100%;
  position: relative;
}

#description {
  text-align: center;
  font-size: 1.2rem;
  padding: 0 5px;
  text-transform: uppercase;
  color: var(--semi-color-700);
}

@media (min-width: 48rem) {
  .carousel img {
    min-height: 15rem;
  }
}
