main section,
footer {
  max-width: 50rem;
  margin-bottom: 2rem;
  background-color: var(--primary-color-bg);
  border-radius: var(--border-radius);
}
main + footer {
  margin-bottom: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

#home .container,
#about-me .container {
  flex-direction: column-reverse;
}

.container-left,
.container-right {
  flex: 1;
  padding: var(--padding);
  text-align: center;
  max-height: 20rem;
  width: 100%;
  overflow: hidden;
}

section:nth-child(1) {
  font-size: clamp(2rem, 30%, 1vw);
}

#about-me .container-right {
  padding: 0;
}

#about-me .container-left,
#contact-me .container-left {
  padding-top: 0;
}

section .container-left p {
  margin-bottom: 1rem;
}

.container-right img {
  object-fit: cover;
  width: 15rem;
  height: 15rem;
  margin: auto;
  border-radius: var(--border-radius);
}

#home img {
  filter: drop-shadow(10px 10px 1px var(--semi-color-700));
}
#about-me img {
  border-radius: 0;
}

#joshua-second {
  height: 20rem;
  width: 100%;
  object-fit: cover;
  filter: none;
}

#joshua-teoxon {
  text-transform: uppercase;
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.6);
}

section:nth-child(2) h2 {
  text-align: left;
  padding: 0;
}

.big-para {
  font-size: 2.2rem;
  font-weight: 500;
}

#journey .container-right {
  margin: auto;
  text-align: left;
}

.journey {
  list-style: none;
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(to bottom, rgb(0, 0, 0, 0.3), rgb(0, 0, 0)) 0 0
    0 1;
  position: relative;
}

.journey li {
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}

.journey li p {
  text-align: justify;
}

.journey li h4:before {
  position: absolute;
  content: "\2022";
  color: var(--semi-color-700);
  font-size: 2.5rem;
  font-weight: 800;
  left: -27px;
  margin-top: -24px;
}

.transparent {
  font-size: 1.5rem;
  color: var(--semi-color-700);
  opacity: 0.5;
}

#web-dev {
  font-size: 2.2rem;
}

@media (min-width: 48rem) {
  .container,
  #home .container,
  #about-me .container,
  #contact-me .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: normal;
  }

  #about-me .container-right img {
    height: 100%;
  }

  #home .container {
    align-items: center;
  }
  .container-right img {
    object-fit: cover;
    height: 15rem;
    width: 15rem;
  }
  .container-left,
  .container-right {
    text-align: left;
  }
  #about-me .container-left h2,
  #contact-me .container h2 {
    text-align: left;
  }
}
