* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Poppins", sans-serif;

  /* 60-30-10 */
  --main-color-bg: #212020;
  --primary-color-bg: #303130;
  --semi-color-700: #ff7f11;
  --semi-color-600: #8c470a;

  --text-color-main: white;

  /* section/ padding/margin */
  --padding: 2rem;

  /* button / padding//margin */
  --button-top: 0.5rem;
  --button-left: 1rem;

  /* header/margin */
  --padding-top-bottom: 2rem;

  --border-radius: 4px;
  --linear-gradient: linear-gradient(
    to right,
    var(--semi-color-700),
    rgb(143, 8, 8)
  );
}

body {
  background-color: var(--main-color-bg);
  color: var(--text-color-main);
  font-size: 0.8rem;
}

html {
  scroll-behavior: smooth;
}

html.sr .load-hidden {
  visibility: hidden;
}

::-webkit-scrollbar {
  width: 1rem;
  border-radius: 30px;
}

::-webkit-scrollbar-track {
  background: var(--primary-color-bg);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #808080;
  border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover {
  background: #bbb;
}

main,
footer {
  width: 90%;
  max-width: 50rem;
  margin: 6rem auto 0 auto;
}

footer {
  padding: var(--padding);
  text-align: center;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
  transition: color 1s;
}

h2 {
  color: var(--semi-color-700);
  text-align: center;
  padding-top: 2rem;
  letter-spacing: 2px;
  margin-bottom: 10px;
  text-transform: capitalize;
  /* border-bottom: 1.5px solid white;
  width: max-content; */
}

span {
  color: var(--semi-color-700);
}

.btn {
  font: inherit;
  padding: var(--button-top) var(--button-left);
  color: var(--text-color-main);
  border-radius: 4px;
  background: var(--linear-gradient);
  border: none;
  font-size: 1rem;
}

.btn.alt {
  font-size: 0.6rem;
  padding: 5px 10px;
  margin-bottom: 5px;
}

.btn.alt:hover,
.btn:hover {
  cursor: pointer;
  opacity: 0.3;
}

.gradient-text {
  text-transform: uppercase;
  font-weight: 800;
  background: var(--linear-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.para {
  text-align: justify;
}
