#about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  gap: 1rem;
}

@media (min-width: 60rem) {
  #about {
    flex-direction: row;
  }
}

.profile {
  border-radius: 0.5rem;
  width: 100%;
  height: 28rem;
  padding: 0.8rem;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.9);
}

.profile img {
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
}

@keyframes toRight {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    transform: translateX(-60px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

#about .about {
  display: flex;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}

@media (min-width: 60rem) {
  #about .about {
    align-items: flex-start;
    width: 55%;
  }
  .profile {
    width: 45%;
  }
}

.about h3 {
  color: var(--secondary--light-color);
  font-weight: 600;
  font-size: 1.1rem;
}
.about h1 {
  color: var(--font-dark-color);
}

.about p {
  color: var(--font-light-color);
  font-size: 0.9rem;
}

.about .skill-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 10px;
  color: var(--font-dark-color);
}
.about .skills {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.about .title {
  display: flex;
  justify-content: space-between;
}
.about .title h5:last-child {
  color: var(--font-light-color);
}

.about .rail {
  width: 100%;
  border-radius: 1rem;
  height: 0.8rem;
  display: flex;
  align-items: center;
  position: relative;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
}

.rail .percent {
  height: 100%;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  background-color: var(--secondary--light-color);
  transition: width 1s ease-in;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}
.percent.api {
  width: 80%;
}
.percent.html-css {
  width: 95%;
}
.percent.javascript {
  width: 90%;
}
.percent.react {
  width: 85%;
}
.percent.node-js {
  width: 80%;
}
.percent.ui {
  width: 80%;
}
.about .rail:hover {
  cursor: pointer;
  .percent {
    width: 0%;
    transition: width 1s ease-in;
  }
}

.rail .stoppage {
  height: 1.5rem;
  width: 0.4rem;
  right: 0;
  border: 2px solid var(--font-dark-color);
  border-radius: 0.25rem;
}
