form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}

form div {
  display: flex;
  gap: 10px;
}

form input {
  height: 1.5rem;
  width: calc(100% - 0.3rem);
  padding-left: 0.3rem;
}

textarea {
  padding-left: 0.3rem;
}

input,
textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgb(232, 220, 220);
  color: white;
  font-weight: 700;
}

.icon-class {
  text-align: center;
}
i {
  color: var(--semi-color-700);
  font-size: 1.5rem;
}

i:before {
  margin-right: 10px;
}

@media (min-width: 48rem) {
  .icon-class {
    text-align: left;
  }
}
