#modal {
  z-index: 100;
  height: 30rem;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  border-color: transparent;
  background-color: transparent;
  outline: none;
}

#modal::backdrop {
  background-color: rgba(74, 74, 74, 0.7);
  transition: all 0.5s;
}

.modal {
  position: relative;
  height: 100%;
  width: 100%;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 30rem;
  width: 60rem;
  border-radius: 2px;
}

#modal i {
  position: absolute;
  font-size: 2.5rem;
  z-index: 1000;
}
#modal i:hover {
  cursor: pointer;
  color: var(--secondary--light-color);
  transition: color 0.5s ease-out;
}
#next {
  top: 50%;
  right: 0;
  animation: toRight 0.5s ease-in;
}
#before {
  top: 50%;
  left: 0;
  animation: toLeft 0.5s ease-in;
}

@keyframes toRight {
  from {
    transform: translateX(60px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes toLeft {
  from {
    transform: translateX(-60px);
  }
  to {
    transform: translateX(0);
  }
}

#close {
  right: 0;
}

.modal-content {
  position: relative;
}

.modal-content p {
  color: white;
  position: absolute;
  font-size: 1rem;
  bottom: -25px;
  right: 0px;
  font-weight: 500;
}

.modal-content img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  padding: 2px;
  background-color: var(--secondary--light-color);
}

@keyframes toShowLeft {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
    transform: translateX(300px);
  }

  70% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes toShowRight {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
    transform: translateX(-300px);
  }
  70% {
    transform: translateX(100px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes toShow {
  0% {
    opacity: 0;
    height: 0;
  }

  100% {
    opacity: 1;
    height: 100%;
  }
}
